config TOUCHSCREEN_ST_FTS_V521_SPI
	tristate "ST FTS V521 I2C Touchscreen"
	depends on I2C
	help
	  Say Y here if you have ST FTS series I2C touchscreen.

	  If unsure, say N.

	  To compile this driver as a module, choose M here.

config TOUCHSCREEN_ST_FTS_V521_SPI_SECONDARY
	bool "Build as a secondary touch module"
	depends on TOUCHSCREEN_ST_FTS_V521_SPI
	help
	  Say Y here if you want to build this driver as a secondary touch module
	  instead of the primary one.

	  If unsure, say N.
